@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@400;700&family=Roboto+Slab:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');

$font-stack: 'Roboto', sans-serif;
$highlight-font: 'Merienda', sans-serif;
$text-color: #fff;
$highlight-color: #988349;
$background-color: #000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background: url('../assets/images/wood.jpg');
}

#content {
  min-height: 100vh;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  max-height: 20vh;
  display: flex;
  padding: 2rem 1rem;
  background-color: $background-color;
  justify-content: space-between;

  h1 {
    color: $text-color;
    font-family: $highlight-font;
    font-weight: bold;

  }

  .nav {
    &-button {
      background-color: transparent;
      border: none;
      color: $text-color;
      margin: 1rem;
      font-size: large;
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        transform: translateY(-10%);
      }
    }
  }

  
}

.main {
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

  .wrapper {


    .bar-img {
      width: 40%;
    }

    .catchphrase {
      display: inline-block;
      font-family: $highlight-font;
      font-size: 2rem;
    }
  }

  .interior-img {
    width: 70%;
    margin: auto;
  }

  .about-us::before {
    color: $text-color;
    font-size: 1.2rem;
    content: 'Lucerro is a small restaurant in the center of the city where a group of chefs, waiters and sommeliers and most of all friends, work together on a daily basis to give our guests a memorable experience and a good time. We try to uphold a very relaxed and informal atmosphere without compromising on our professional attitude. Our principle is to have complete freedom in the daily creative process and also give our guests the maximum freedom to enjoy themselves.'
  }


}

footer {
  display: flex;
  align-items: flex-end;
  background-color: $background-color;
  height: 5rem;
  color: $text-color;
  display: flex;
  justify-content: space-between;

  .social {
    margin: auto 3rem;
    display: flex;
  }

  a {
    color: $text-color;
    font-size: 1.8rem;
    padding: 0.25rem;
  }

  .tripadvisor {
    height: 2.8rem;
    position: relative;
    bottom: 0.2rem;

    &:hover {
      cursor: pointer;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    margin: auto 2rem;

    .logo {
      height: 3rem;
    }
  }

}

